@charset "UTF-8";

/* General rules */

body { margin: 0; padding: 0; }
div { display: block; }
.clear-fix { clear: both; line-height: 1px; }

img { width: 100%; margin: 10px 0 0 0; padding: 0; }


/*
* Container
*/

.container { max-width: 750px; margin: 40px auto 0 auto; position: relative; }
.block { width: 100%; margin: 20px 0; padding: 10px 0 0 0; }
.block-line { width: 100%; margin: 0; padding: 0; }

.block .title { margin: 0 auto 30px auto; padding: 0; border-bottom: 1px solid #cccccc; }
.block .title h2 {
	margin-bottom: -12px;
	display: block;
	line-height: 24px;
	font-size: 24px;
	font-family: 'Josefin Slab', serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
}
.block .title h2 span { padding: 0px 30px; background-color: #ffffff; }




/*
* Menubar
*/

#menubar {
	max-width: 750px;
	height: 30px;
	margin: 0;
	position: fixed;
	top: 0;
	background-color: ;
	line-height: 30px;
	text-align: center;
	background-color: #ffffff
}
#logo, #logo:hover, #logo:active {
	margin: 0;
	padding: 0;
	font-family: 'Bonbon', serif;
	font-size: 30px;
	color: #000000;
	text-decoration: none;
}
#logo:hover { color: #333333; }




/*
* List
*/

.list { width: 100%; margin: 10px 0; padding: 0; display: block;}
.list-icon { width: 50px; margin: 0; padding: 0 5px; display: block; float: left; text-align: center; }
.list-body { max-width: 680px; margin: 0; padding: 0 5px; float:left; }
.list-title {
	width: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	line-height: 18px;
	font-size: 18px;
	font-family: 'Josefin Sans', serif;
	font-weight: bold;
}
.list p { margin: 0; padding: 5px 0; }
.list a, .list a:active { text-decoration: none; }
.list a:hover { color: #555555; }




/*
* Circle
*/
.circle {
	width: 220px;
	height: 220px;
	margin: 20px 10px;
	padding: 5px;
	display: block;
	float: left;
	background-color: #dddddd;
	-webkit-border-radius: 115px;
	-moz-border-radius: 115px;
	border-radius: 115px;
}
.circle:hover { background-color: #cccccc}
.circle-upper, .circle-lower {
	width: 210px;
	height: 100px;
	margin: 0;
	padding: 5px;
	display: block;
	background-color: #fff;
	text-align: center;
}
.circle-upper {
	-webkit-border-top-left-radius: 110px;
	-webkit-border-top-right-radius: 110px;
	-moz-border-radius-topleft: 110px;
	-moz-border-radius-topright: 110px;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	background-color: #333333;
}
.circle-lower {
	-webkit-border-bottom-right-radius: 110px;
	-webkit-border-bottom-left-radius: 110px;
	-moz-border-radius-bottomright: 110px;
	-moz-border-radius-bottomleft: 110px;
	border-bottom-right-radius: 110px;
	border-bottom-left-radius: 110px;
}
.circle-icon { width: 35px; margin: 0 auto 5px auto; padding: 0; display: block; text-align: center; color: #ffffff; }
.circle-title { 
	margin: 0 auto;
	padding: 0 0 0 5px;
	color: #ffffff;
	text-align: center;
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.circle p { margin: 0; padding: 5px 0 0 0; }
.circle a:hover { text-decoration: none; }




